<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_before">
        <observer name="UpdateStock" instance="Twentyone\UpdateStock\Observer\UpdateStartObserver" />
    </event>
    <event name="sales_order_place_after">
        <observer name="UpdateStock" instance="Twentyone\UpdateStock\Observer\UpdateStockObserver" />
    </event>
    <event name="controller_action_catalog_product_save_entity_after">
        <observer name="UpdateProduct2" instance="Twentyone\UpdateStock\Observer\UpdateProductObserver" />
    </event>
</config>